<div>
    <b><h5 class="textual">Registro de proveedor</h5></b><br>
    <div class="container" style="max-width: 650px;">
      
        <b><h6 class="textual">Información básica</h6></b>
        
        <!--Form creation-->
        <form focusInvalidInput [formGroup]="ProveedorForm" (ngSubmit)="onSubmit()">
                     
            <!--ID field-->
            <div class="form-group">
                <label class="form-label">ID</label><b><label class="text-danger">&nbsp;*</label></b>
                <!--ngModel on the same form field as formControlName
                    directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                <!--<input class="form-control form-control-sm" type="text" formControlName="idProv" [(ngModel)]="prov.idproveedor"-->
                <input class="form-control form-control-sm" type="text" formControlName="idProv"
                    [ngClass]="{ 'is-invalid': submitted && f.idProv.errors }">
                <div *ngIf="submitted && f.idProv.errors" class="invalid-feedback">
                    <div *ngIf="f.idProv.errors.required">El campo es obligatorio</div>
                </div>
            </div>

            <!--Tipo proveedor field-->
            <div class="form-group">
                <label class="form-label">Tipo proveedor</label><b><label class="text-danger">&nbsp;*</label></b>
                <!--ngModel on the same form field as formControlName
                directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                <!--<select class="form-select form-select-sm" formControlName="idtipoProv" [(ngModel)]="prov.tipoProveedor.idtipoProveedor"-->
                    <select class="form-select form-select-sm" formControlName="idtipoProv"
                    [ngClass]="{ 'is-invalid': submitted && f.idtipoProv.errors }">
                    <option value="1">Hotel</option>
                    <option value="2">Cabaña</option>
                    <option value="3">Apartamento</option>
                </select>
                <div *ngIf="submitted && f.idtipoProv.errors" class="invalid-feedback">
                    <div *ngIf="f.idtipoProv.errors.required">El campo es obligatorio</div>
                </div>
            </div>

             <!--Cadena field-->
             <div>
                <label class="form-label">Cadena</label>
                <!--ngModel on the same form field as formControlName
                directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                <!--<input class="form-control form-control-sm" type="text" formControlName="cadenaProv" [(ngModel)]="prov.cadena">-->
                <input class="form-control form-control-sm" type="text" formControlName="cadenaProv">
            </div>

             <!--Nombre field-->
             <div>
                <label class="form-label">Nombre proveedor</label><b><label class="text-danger">&nbsp;*</label></b>
                <!--ngModel on the same form field as formControlName
                directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                <!--<input class="form-control form-control-sm" type="text" formControlName="nombreProv" [(ngModel)]="prov.nombre"-->
                <input class="form-control form-control-sm" type="text" formControlName="nombreProv"
                [ngClass]="{ 'is-invalid': submitted && f.nombreProv.errors }">
                <div *ngIf="submitted && f.nombreProv.errors" class="invalid-feedback">
                    <div *ngIf="f.nombreProv.errors.required">El campo es obligatorio</div>
                </div>
            </div>

             <!--Check-in and check-out fields-->
             <div class="row">
                 <div class="col">
                    <label class="form-label">Check-in</label>
                    <!--ngModel on the same form field as formControlName
                    directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                    <!--<input class="form-control form-control-sm" type="time" formControlName="checkinProv" [(ngModel)]="prov.checkin">-->
                    <input class="form-control form-control-sm" type="time" formControlName="checkinProv">
                </div>
                <div class="col">
                    <label class="form-label">Check-out</label>
                    <!--ngModel on the same form field as formControlName
                    directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                    <!--<input class="form-control form-control-sm" type="time" formControlName="checkoutProv" [(ngModel)]="prov.checkout">-->
                    <input class="form-control form-control-sm" type="time" formControlName="checkoutProv">
                </div>
            </div>

             <!--Estrellas field-->
             <div>
                <label class="form-label">Estrellas</label>
                <!--ngModel on the same form field as formControlName
                directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                <!--<input class="form-control form-control-sm" type="number" formControlName="estrellasProv" [(ngModel)]="prov.estrellas">-->
                <input class="form-control form-control-sm" type="number" formControlName="estrellasProv">
            </div>

             <!--País field-->
             <div>
                <label class="form-label">País</label><b><label class="text-danger">&nbsp;*</label></b>
                <!--ngModel on the same form field as formControlName
                directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                <!--<input class="form-control form-control-sm" type="text" formControlName="paisProv" [(ngModel)]="prov.pais"-->
                <input class="form-control form-control-sm" type="text" formControlName="paisProv"
                [ngClass]="{ 'is-invalid': submitted && f.paisProv.errors }">
                <div *ngIf="submitted && f.paisProv.errors" class="invalid-feedback">
                    <div *ngIf="f.paisProv.errors.required">El campo es obligatorio</div>
                </div>
            </div>

             <!--Ciudad field-->
             <div>
                <label class="form-label">Ciudad</label><b><label class="text-danger">&nbsp;*</label></b>
                <!--ngModel on the same form field as formControlName
                directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                <!--<input class="form-control form-control-sm" type="text" formControlName="CiudadProv" [(ngModel)]="prov.ciudad"-->
                <input class="form-control form-control-sm" type="text" formControlName="CiudadProv"
                [ngClass]="{ 'is-invalid': submitted && f.CiudadProv.errors }">
                <div *ngIf="submitted && f.CiudadProv.errors" class="invalid-feedback">
                    <div *ngIf="f.CiudadProv.errors.required">El campo es obligatorio</div>
                </div>
            </div>

             <!--Dirección field-->
             <div>
                <label class="form-label">Dirección</label><b><label class="text-danger">&nbsp;*</label></b>
                <!--ngModel on the same form field as formControlName
                directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                <!--<input class="form-control form-control-sm" type="text" formControlName="direccionProv" [(ngModel)]="prov.direccion"-->
                <input class="form-control form-control-sm" type="text" formControlName="direccionProv"
                [ngClass]="{ 'is-invalid': submitted && f.direccionProv.errors }">
                <div *ngIf="submitted && f.direccionProv.errors" class="invalid-feedback">
                    <div *ngIf="f.direccionProv.errors.required">El campo es obligatorio</div>
                </div>
            </div>

             <!--Teléfono field-->
             <div>
                <label class="form-label">Teléfono</label>
                <!--ngModel on the same form field as formControlName
                directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                <!--<input class="form-control form-control-sm" type="text" formControlName="telefonoProv" [(ngModel)]="prov.telefono">-->
                <input class="form-control form-control-sm" type="text" formControlName="telefonoProv">
            </div>

             <!--Descripción field-->
             <div>
                <label class="form-label">Descripción</label>
                <!--ngModel on the same form field as formControlName
                directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                <!--<textarea class="form-control form-control-sm" rows="4" formControlName="descripcionProv" [(ngModel)]="prov.descripcionHotel"></textarea>-->
                <textarea class="form-control form-control-sm" rows="4" formControlName="descripcionProv"></textarea>
            </div>

            <!--Sección información de contacto -->
            <br>
            <div>
                <b><h6 class="textual">Información de contacto</h6></b>
            </div>
            
             <!--NombreGeranteGeneral field-->
             <div>
                <label class="form-label">Nombre Gerente General</label>
                <!--ngModel on the same form field as formControlName
                directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                <!--<input class="form-control form-control-sm" type="text" formControlName="nombreggeneralProv"[(ngModel)]="prov.nombreGerenteGeneral">-->
                <input class="form-control form-control-sm" type="text" formControlName="nombreggeneralProv">
            </div>

             <!--EmailGerenteGeneral and NotificarGerenteGeneral and TeléfonoGerenteGeneral fields-->
             <div class="row">
                <div class="col">
                    <label class="form-label">Email</label>
                    <!--ngModel on the same form field as formControlName
                    directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                    <!--<input class="form-control form-control-sm" type="text" formControlName="emailggeneralProv" [(ngModel)]="prov.emailGerenteGeneral">-->
                    <input class="form-control form-control-sm" type="text" formControlName="emailggeneralProv">
                </div>
                <div class="col">
                    <div class="form-check form-switch">
                        <label class="form-check-label">¿Notificar?</label>
                        <!--ngModel on the same form field as formControlName
                        directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                        <!--<input class="form-check-input" type="checkbox" formControlName="notificarggeneralProv" [(ngModel)]="prov.notificarGerenteGeneral">-->
                        <input class="form-check-input" type="checkbox" formControlName="notificarggeneralProv">
                    </div>
                </div>
                <div class="col">
                    <label class="form-label">Teléfono Gerente General</label>
                    <!--ngModel on the same form field as formControlName
                    directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                    <!--<input class="form-control form-control-sm" type="text" formControlName="telefonoggeneralProv" [(ngModel)]="prov.telefonoGerenteGeneral">-->
                    <input class="form-control form-control-sm" type="text" formControlName="telefonoggeneralProv">
                </div>
            </div>            

             <!--NombreGerenteComercial field-->
             <div>
                <label class="form-label">Nombre Gerente Comercial</label>
                <!--ngModel on the same form field as formControlName
                directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                <!--<input class="form-control form-control-sm" type="text" formControlName="nombregcomercialProv" [(ngModel)]="prov.nombreGerenteComercial">-->
                <input class="form-control form-control-sm" type="text" formControlName="nombregcomercialProv">
            </div>

             <!--EmailGerenteComercial and NotificarGerenteComercial and TeléfonoGerenteComercial fields-->
            <div class="row">
                <div class="col">
                    <label class="form-label">Email Gerente Comercial</label>
                    <!--ngModel on the same form field as formControlName
                    directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                    <!--<input class="form-control form-control-sm" type="text" formControlName="emailgcomercialProv" [(ngModel)]="prov.emailGerenteComercial">-->
                    <input class="form-control form-control-sm" type="text" formControlName="emailgcomercialProv">
                </div>
                <div class="col">
                    <div class="form-check form-switch">
                        <label class="form-check-label">¿Notificar?</label>
                        <!--ngModel on the same form field as formControlName
                        directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                        <!--<input class="form-check-input" type="checkbox" formControlName="notificargcomercialProv" [(ngModel)]="prov.notificarGerenteComerial">-->
                        <input class="form-check-input" type="checkbox" formControlName="notificargcomercialProv">
                    </div>
                </div>
                <div class="col">
                    <label class="form-label">Teléfono Gerente Comercial</label>
                    <!--ngModel on the same form field as formControlName
                    directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                    <!--<input class="form-control form-control-sm" type="text" formControlName="telefonogcomercialProv" [(ngModel)]="prov.telefonoGerenteComercial">-->
                    <input class="form-control form-control-sm" type="text" formControlName="telefonogcomercialProv">
                </div>
            </div>

             <!--NombreContactoReservas field-->
             <div>
                <label class="form-label">Nombre Contacto Reservas</label><b><label class="text-danger">&nbsp;*</label></b>
                <!--ngModel on the same form field as formControlName
                directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                <!--<input class="form-control form-control-sm" type="text" formControlName="nombrecreservasProv" [(ngModel)]="prov.nombreContactoReservas"-->
                <input class="form-control form-control-sm" type="text" formControlName="nombrecreservasProv"
                [ngClass]="{ 'is-invalid': submitted && f.nombrecreservasProv.errors }">
                <div *ngIf="submitted && f.nombrecreservasProv.errors" class="invalid-feedback">
                    <div *ngIf="f.nombrecreservasProv.errors.required">El campo es obligatorio</div>
                </div>
            </div>

             <!--EmailContactoReservas and NotificarContactoReservas and TeléfonoContactoReservas fields-->
            <div class="row">
                <div class="col">
                    <label class="form-label">Email Contacto Reservas</label><b><label class="text-danger">&nbsp;*</label></b>
                    <!--ngModel on the same form field as formControlName
                    directives has been deprecated in Angular v6 and will be removed in a future version of Angula-->
                    <!--<input class="form-control form-control-sm" type="text" formControlName="emailcreservasProv" [(ngModel)]="prov.emailContactoReservas"-->
                    <input class="form-control form-control-sm" type="text" formControlName="emailcreservasProv"
                    [ngClass]="{ 'is-invalid': submitted && f.emailcreservasProv.errors }">
                    <div *ngIf="submitted && f.emailcreservasProv.errors" class="invalid-feedback">
                        <div *ngIf="f.emailcreservasProv.errors.required">El campo es obligatorio</div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check form-switch">
                        <label class="form-check-label">¿Notificar?</label>
                        <!--ngModel on the same form field as formControlName
                        directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                        <!--<input class="form-check-input" type="checkbox" formControlName="notificarcreservasProv" [(ngModel)]="prov.notificarContactoReservas">-->
                        <input class="form-check-input" type="checkbox" formControlName="notificarcreservasProv">
                    </div>
                </div>
                <div class="col">
                    <label class="form-label">Teléfono Contacto Reservas</label><b><label class="text-danger">&nbsp;*</label></b>
                    <!--ngModel on the same form field as formControlName
                    directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                    <!--<input class="form-control form-control-sm" type="text" formControlName="telefonocreservasProv" [(ngModel)]="prov.telefonoContactoReservas"-->
                    <input class="form-control form-control-sm" type="text" formControlName="telefonocreservasProv"
                    [ngClass]="{ 'is-invalid': submitted && f.telefonocreservasProv.errors }">
                    <div *ngIf="submitted && f.telefonocreservasProv.errors" class="invalid-feedback">
                        <div *ngIf="f.telefonocreservasProv.errors.required">El campo es obligatorio</div>
                    </div>
                </div>
            </div>

             <!--NombreContactoGrupos field-->
             <div>
                <label class="form-label">Nombre Contacto Grupos</label>
                <!--ngModel on the same form field as formControlName
                directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                <!--<input class="form-control form-control-sm" type="text" formControlName="nombrecgruposProv" [(ngModel)]="prov.nombreContactoGrupos">-->
                <input class="form-control form-control-sm" type="text" formControlName="nombrecgruposProv">
            </div>

             <!--EmailContactoGrupos and NotificarContactoGrupos and TeléfonoContactoGrupos fields-->
            <div class="row">
                <div class="col">
                    <label class="form-label">Email Contacto Grupos</label>
                    <!--ngModel on the same form field as formControlName
                    directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                    <!--<input class="form-control form-control-sm" type="text" formControlName="emailcgruposProv" [(ngModel)]="prov.emailContactoGrupos">-->
                    <input class="form-control form-control-sm" type="text" formControlName="emailcgruposProv">
                </div>
                <div class="col">
                    <div class="form-check form-switch">
                        <label class="form-check-label">¿Notificar?</label>
                        <!--ngModel on the same form field as formControlName
                        directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                        <!--<input class="form-check-input" type="checkbox" formControlName="notificarcgruposProv" [(ngModel)]="prov.notificarContactoGrupos">-->
                        <input class="form-check-input" type="checkbox" formControlName="notificarcgruposProv">
                    </div>
                </div>
                <div class="col">
                    <label class="form-label">Teléfono Contacto Grupos</label>
                    <!--ngModel on the same form field as formControlName
                    directives has been deprecated in Angular v6 and will be removed in a future version of Angular-->
                    <!--<input class="form-control form-control-sm" type="text" formControlName="telefonocgruposProv" [(ngModel)]="prov.telefonoContactoGrupos">-->
                    <input class="form-control form-control-sm" type="text" formControlName="telefonocgruposProv">
                </div>
            </div>
            <br>
            <!--Submit button and loding button in case-->
            <div *ngIf="loading; else elseBlock">
                <center><button class="btn btn-primary" type="button">
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                Cargando...
                </button></center>
            </div>
            <ng-template #elseBlock>
                <center>
                    <button class ="btn btn-primary" type="submit">Guardar</button>
                </center>
            </ng-template>
            <!--Error alert-->
            <br>
            <div *ngIf="msg_error" class="alert alert-danger" role="alert">
                ¡Error conectando con el servicio!
            </div>
            
        </form>
    </div>
</div>


