<div>
    <b><h5 class="textual">Registro de proveedor</h5></b><br>
    <div class="container" style="max-width: 650px;">
      
        <b><h6 class="textual">Información básica</h6></b>
        
        <!--Form creation-->
        <form [formGroup]="ProveedorForm" (ngSubmit)="onSubmit()">
            
            <!--ID field-->
            <div class="form-group">
                <label class="form-label">ID</label>
                <input class="form-control form-control-sm" type="text" formControlName="idProv" [(ngModel)]="prov.idproveedor">
            </div>

            <!--Tipo proveedor field-->
            <div class="form-group">
                <label class="form-label">Tipo proveedor</label>
                <select class="form-select form-select-sm" formControlName="idtipoProv" [(ngModel)]="prov.tipoProveedor.idtipoProveedor">
                    <option value="1">Hotel</option>
                    <option value="2">Cabaña</option>
                    <option value="3">Apartamento</option>
                </select>
            </div>

             <!--Cadena field-->
             <div>
                <label class="form-label">Cadena</label>
                <input class="form-control form-control-sm" type="text" formControlName="cadenaProv" [(ngModel)]="prov.cadena">
            </div>

             <!--Nombre field-->
             <div>
                <label class="form-label">Nombre proveedor</label>
                <input class="form-control form-control-sm" type="text" formControlName="nombreProv" [(ngModel)]="prov.nombre">
            </div>

             <!--Check-in and check-out fields-->
             <div class="row">
                 <div class="col">
                    <label class="form-label">Check-in</label>
                    <input class="form-control form-control-sm" type="time" formControlName="checkinProv" [(ngModel)]="prov.checkin">
                </div>
                <div class="col">
                    <label class="form-label">Check-out</label>
                    <input class="form-control form-control-sm" type="time" formControlName="checkoutProv" [(ngModel)]="prov.checkout">
                </div>
            </div>

             <!--Estrellas field-->
             <div>
                <label class="form-label">Estrellas</label>
                <input class="form-control form-control-sm" type="number" formControlName="estrellasProv" [(ngModel)]="prov.estrellas">
            </div>

             <!--País field-->
             <div>
                <label class="form-label">País</label>
                <input class="form-control form-control-sm" type="text" formControlName="paisProv" [(ngModel)]="prov.pais">
            </div>

             <!--Ciudad field-->
             <div>
                <label class="form-label">Ciudad</label>
                <input class="form-control form-control-sm" type="text" formControlName="CiudadProv" [(ngModel)]="prov.ciudad">
            </div>

             <!--Dirección field-->
             <div>
                <label class="form-label">Dirección</label>
                <input class="form-control form-control-sm" type="text" formControlName="direccionProv" [(ngModel)]="prov.direccion">
            </div>

             <!--Teléfono field-->
             <div>
                <label class="form-label">Teléfono</label>
                <input class="form-control form-control-sm" type="text" formControlName="telefonoProv" [(ngModel)]="prov.telefono">
            </div>

             <!--Descripción field-->
             <div>
                <label class="form-label">Descripción</label>
                <textarea class="form-control form-control-sm" rows="4" formControlName="descripcionProv" [(ngModel)]="prov.descripcionHotel"></textarea>
            </div>

            <!--Sección información de contacto -->
            <br>
            <div>
                <b><h6 class="textual">Información de contacto</h6></b>
            </div>
            
             <!--NombreGeranteGeneral field-->
             <div>
                <label class="form-label">Nombre Gerente General</label>
                <input class="form-control form-control-sm" type="text" formControlName="nombreggeneralProv"[(ngModel)]="prov.nombreGerenteGeneral">
            </div>

             <!--EmailGerenteGeneral and NotificarGerenteGeneral and TeléfonoGerenteGeneral fields-->
             <div class="row">
                <div class="col">
                    <label class="form-label">Email</label>
                    <input class="form-control form-control-sm" type="text" formControlName="emailggeneralProv" [(ngModel)]="prov.emailGerenteGeneral">
                </div>
                <div class="col">
                    <div class="form-check form-switch">
                        <label class="form-check-label">¿Notificar?</label>
                        <input class="form-check-input" type="checkbox" formControlName="notificarggeneralProv" [(ngModel)]="prov.notificarGerenteGeneral">
                    </div>
                </div>
                <div class="col">
                    <label class="form-label">Teléfono Gerente General</label>
                    <input class="form-control form-control-sm" type="text" formControlName="telefonoggeneralProv" [(ngModel)]="prov.telefonoGerenteGeneral">
                </div>
            </div>            

             <!--NombreGerenteComercial field-->
             <div>
                <label class="form-label">Nombre Gerente Comercial</label>
                <input class="form-control form-control-sm" type="text" formControlName="nombregcomercialProv" [(ngModel)]="prov.nombreGerenteComercial">
            </div>

             <!--EmailGerenteComercial and NotificarGerenteComercial and TeléfonoGerenteComercial fields-->
            <div class="row">
                <div class="col">
                    <label class="form-label">Email Gerente Comercial</label>
                    <input class="form-control form-control-sm" type="text" formControlName="emailgcomercialProv" [(ngModel)]="prov.emailGerenteComercial">
                </div>
                <div class="col">
                    <div class="form-check form-switch">
                        <label class="form-check-label">¿Notificar?</label>
                        <input class="form-check-input" type="checkbox" formControlName="notificargcomercialProv" [(ngModel)]="prov.notificarGerenteComerial">
                    </div>
                </div>
                <div class="col">
                    <label class="form-label">Teléfono Gerente Comercial</label>
                    <input class="form-control form-control-sm" type="text" formControlName="telefonogcomercialProv" [(ngModel)]="prov.telefonoGerenteComercial">
                </div>
            </div>

             <!--NombreContactoReservas field-->
             <div>
                <label class="form-label">Nombre Contacto Reservas</label>
                <input class="form-control form-control-sm" type="text" formControlName="nombrecreservasProv" [(ngModel)]="prov.nombreContactoReservas">
            </div>

             <!--EmailContactoReservas and NotificarContactoReservas and TeléfonoContactoReservas fields-->
            <div class="row">
                <div class="col">
                    <label class="form-label">Email Contacto Reservas</label>
                    <input class="form-control form-control-sm" type="text" formControlName="emailcreservasProv" [(ngModel)]="prov.emailContactoReservas">
                </div>
                <div class="col">
                    <div class="form-check form-switch">
                        <label class="form-check-label">¿Notificar?</label>
                        <input class="form-check-input" type="checkbox" formControlName="notificarcreservasProv" [(ngModel)]="prov.notificarContactoReservas">
                    </div>
                </div>
                <div class="col">
                    <label class="form-label">Teléfono Contacto Reservas</label>
                    <input class="form-control form-control-sm" type="text" formControlName="telefonocreservasProv" [(ngModel)]="prov.telefonoContactoReservas">
                </div>
            </div>

             <!--NombreContactoGrupos field-->
             <div>
                <label class="form-label">Nombre Contacto Grupos</label>
                <input class="form-control form-control-sm" type="text" formControlName="nombrecgruposProv" [(ngModel)]="prov.nombreContactoGrupos">
            </div>

             <!--EmailContactoGrupos and NotificarContactoGrupos and TeléfonoContactoGrupos fields-->
            <div class="row">
                <div class="col">
                    <label class="form-label">Email Contacto Grupos</label>
                    <input class="form-control form-control-sm" type="text" formControlName="emailcgruposProv" [(ngModel)]="prov.emailContactoGrupos">
                </div>
                <div class="col">
                    <div class="form-check form-switch">
                        <label class="form-check-label">¿Notificar?</label>
                        <input class="form-check-input" type="checkbox" formControlName="notificarcgruposProv" [(ngModel)]="prov.notificarContactoGrupos">
                    </div>
                </div>
                <div class="col">
                    <label class="form-label">Teléfono Contacto Grupos</label>
                    <input class="form-control form-control-sm" type="text" formControlName="telefonocgruposProv" [(ngModel)]="prov.telefonoContactoGrupos">
                </div>
            </div>
            <br>
            <!--Submit button and loding button in case-->
            <div *ngIf="loading; else elseBlock">
                <center><button class="btn btn-primary" type="button">
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                Cargando...
                </button></center>
            </div>
            <ng-template #elseBlock>
                <center><button class ="btn btn-primary" type="submit">Guardar</button></center>    
            </ng-template>
        </form>
    </div>
</div>


